@media (max-width: 600px) {
  .bloque{
    margin-top: 20px;
  }
  .bloque:first-child{
    margin-top: 20px;
  }
}
@media (min-width:600px) {
  .bloque:first-child{
    margin-top: 0px;
  }
  .bloque{
    margin-top: 20px;
  }
}
body{
  background:#eee;
}
.container{
  margin-top: 40px;
}
.banner{
  background:#6DC560;
}
.jumbotron{
  border-radius: 0px;
}
.jumbotron h1{
  font-family: Helvetica;
  font-size: 3rem;
  font-weight: bold;
}
.box{
  margin-top: 20px;
  border-bottom: 1px grey solid;
}

.box p{
  margin-bottom: 30px;
}
.bloque h2{
  color:#6DC560;
  font-weight: bold;
  font-family: Helvetica;
}
